@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap');


html,
body {
    padding: 0;
    margin: 0;

    background-color: #1D1B1A;
    color: #fff;
    font-family: Poppins, sans-serif;
}

svg {


}
body {
    /*position: absolute;*/
}
* {
    box-sizing: border-box;
}
.ant-btn {
    border: none;
}
.ant-btn:hover {

}

.ant-popover-inner {
    z-index: 9999;
}





/* BTNS*/


.ant-btn-danger {
    background-color: red !important;
    color: #411212


}

.ant-btn-danger:hover {
    background-color:red !important;
    color: white;
}


.ant-btn-secondaryAlt {
    background-color: #FF6ED5 !important;
    color: #5CC8FF !important;
    font-weight: 600 !important;
    border: 0 !important;
}

.ant-btn-secondaryAlt:hover {
    box-shadow: 0px 5px 27px rgba(19, 32, 103, 0.46);
    background-color: #FF6ED5 !important;
}

.ant-btn-primary {
    font-weight: 600 !important;
    border: 0 !important;
}

.ant-btn-primary:hover {
    box-shadow: 0px 5px 27px rgba(19, 32, 103, 0.46);
    background-color: #5CC8FF !important;
}

.ant-btn[disabled] {
    background-color: #ECEFFF !important;
    color:white !important;
}



.ant-btn-secondary {
    background-color: #FF6ED5 !important;
    color:white !important;
    font-weight: 600 !important;
    border: 0 !important;
}

.ant-btn-secondary:hover {
    box-shadow: 0px 5px 27px rgba(19, 32, 103, 0.46);
    background-color: #FF6ED5 !important;
}

/*.ant-btn-tertiary {*/
/*    background-color: transparent !important;*/
/*    border: 4px solid rgba(236, 239, 255, 1) !important;*/
/*    border-radius: 6px !important;*/
/*    color: $grey !important;*/
/*}*/

/*.ant-btn-tertiary-nb {*/
/*    background-color: transparent !important;*/
/*    border: none !important;*/
/*    color: $grey !important;*/
/*}*/

/*.ant-btn-tertiary:hover, .ant-btn-flat:hover {*/
/*    color: $darkOcean !important;*/
/*}*/

/*.ant-input-disabled {*/
/*    background-color:#3a3937 ;*/
/*    color: red;*/
/*}*/
.ant-btn-tertiary.ant-btn[disabled] {
    background-color: transparent !important;
    color: rgba(124, 129, 162, 0.2) !important;
}

.ant-btn:hover {
    /*background-color: initial !important;*/

    /*border-color: white !important;*/
    /*background-color: unset !important;*/

    /*color: red !important;*/
}



/*.ant-btn-alt {*/
/*    color: $primary !important;*/
/*    background-color: $steel10 !important;*/
/*    border: none !important;*/
/*}*/



.ant-btn[sz="medium"] {
    height: 48px !important;
    border-radius: 6px !important;
    font-weight: 600 !important;
    font-size: 1rem !important;
}
